@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonts-text: 'Inter', sans-serif;
    --fonts-big-text: 'Inter', sans-serif;
    --font-text-1: 'Roboto', sans-serif;
    --font-small-text: 'Inter', sans-serif;
    --color-card-area: #F5F5F5;
    --color-card-area-2: #516778;
    --color-border: #D2D5DA;
    --color-text: #6C727F;
    --color-background: #1E1E1E;
    --color-shadow: rgba(0, 0, 0, 0.05);
    --color-input: #000;
    --color-or: #CFCFCF;
    --color-button: #E12828;
    --color-back: #fff;
}

body {
    background-color: var(--color-background);
}

.login {
    width: 500px;
    height: 628px;
    background-color: #fff;
    border-radius: 20px;
    margin: 50px 40px;
}

.form-login {
    width: 380px;
    padding: 60px;
}

.title {
    font-size: 32px;
    font-family: var(--fonts-text);
    text-align: center;
    margin-bottom: 5px;
}

.text {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-small-text);
    text-align: center;
    margin-bottom: 35px;
}

.login__icons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 35px;
    box-shadow: 0px 16px 11px -12px var(--color-shadow);
}

.border {
    border: 1px solid var(--color-border);
    border-radius: 6px;
    padding: 10px 48px;
}

.google {
    padding: 10px 47px;
}

.or-line {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 35px;
}

.or {
    font-size: 11px;
    color: var(--color-or);
    text-align: center;
}

.line {
    width: 180px;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 5.5px;
}

legend {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 11px;
    font-size: 12px;
    font-family: var(--fonts-text);
    font-weight: bold;
}


.email-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 46px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    margin-bottom: 25px;
    font-family: var(--fonts-text);
    box-shadow: 0px 16px 11px -12px var(--color-shadow);
}

input {
    outline: none;
    border: none;
    padding-left: 16px;
    font-size: 14px;
    font-family: var(--fonts-text);
    transform: translateY(-3px);
}

.email {
    width: 100%;
}

.name-eyes {
    width: 100%;
    letter-spacing: 2px;
}

.icon-envelop,
.icon-eyes {
    padding-right: 12px;
}

.name-password {
    margin-bottom: 10px;
}

.login_check {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.remember {
    font-size: 16px;
    font-family: var(--fonts-text);
    font-weight: bold;
}

.forgot {
    font-size: 14px;
    color: var(--color-button);
}

.login_password {
    margin-bottom: 35px;
}

.btn-enter {
    width: 380px;
    height: 60px;
    background-color: var(--color-button);
    border: none;
    border-radius: 8px;
    font-size: 28px;
    color: var(--color-card-area);
}